profiles {
     standard {
         process.executor = 'local'
         process.scratch = '{temp}'
         process.max_retries = 50
     }
     cluster {
         singularity.enabled = true
         singularity.cacheDir = '{cache}'
         singularity.autoMounts = true
         executor.queueSize = 10
         process.executor = 'slurm'
         process.cpu = '4'
         process.memory = '30 GB'
         process.scratch = '{temp}'
         process.max_retries = 50
         process.maxForks = 8
     }
}